.slider-mask {
    width: 550px;
    height: 500px;
    overflow: hidden;
    margin: 0 auto;
}
.AB-slidebar {
  position:relative;
    width: 967px;
    height: 540px;
    right: 4px;
    overflow:hidden;
}
.slider-aft, .slider-bef {
    position: absolute;
    top: 0px;
    left: 4px;
    overflow:hidden;
}
.handle-wrapper {
    position: relative;
    width: 20px !important;
    height: 540px;
    left: 952px;
    z-index: 10;
    background-color: #ffffff29;
    transform: translateX(-5px);
    &:after{
      content: "< >";
      position: absolute;
      display: flex;
      font-size: 20px;
      color: #616161;
      font-family: atten-new, sans-serif;
      width: 45px;
      height: 45px;
      justify-content: space-around;
      background-color: #fff;
      border-radius: 100px;
      vertical-align: middle;
      align-items: center;
      left: -12px;
      top: calc(50% - 59px);
    }
}

.slider-bar {
    width: 1px;
    height: 540px;
    position: absolute;
    left: 9px;
    background-color: white;
    opacity: .7;
}
.slider-handle {
    position: relative;
    top: 255px;
    left: -14px;
    z-index: 100;
}
.slider-tip{
  width: 196px;
  background-color: black;
  opacity: .6;
  filter: alpha(opacity=60);
  position: absolute;
  margin-top: 215px;
  margin-left: -94px;
  padding-top: 6px;
  padding-bottom:4px;
  color: white;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  text-transform: uppercase;
  z-index: 88;  
}

.slider-aft div,.slider-bef div{
  background-size: cover;
  background-position: center;
  width: 50%;
  height: 100%;
}

.before-after__container{
  max-width: 550px;
  width: 95%;
  margin: 0 auto;
  height: 500px;
  position: relative;
  background-color: #ff000000;
}
.before-after__item{
  position: absolute;
  top:0px;
  z-index: -1;
  opacity: 0;
  left: 0px;
  p{
    margin-bottom: 0;
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 31px;
  }
}
.before-after{
  display: flex;
  align-items: center;
  flex-direction: column;
  h2{
    margin-bottom: 30px;
    font-size: 28px;
    letter-spacing: initial !important;
  }
}
.before-after__item--active{
  z-index: 1;
  opacity: 1;
}
.before-after__button{
    position: relative;
    display: flex;
    flex-direction: row;
    max-width: 400px;
    height: 30px;
    width: 95%;
    justify-content: space-between;
    margin-top: 92px;
  svg{
    width: 14px;
  }
}
.before-after__button-dots{
  max-width: 400px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 6px;
}
.before-after__dot{
    width: 14px;
    height: 14px;
    border-radius: 100px;
    margin: 0px 14px;
    background-color: #bfbfbf;
}
.before-after__dot--active{
  background-color: #6f6f6f;
}
.before-after__button-after svg{
  transform: rotate(180deg);
}
.before-after__slider--mobile{
  display: none;
}
@media only screen and (max-width: 750px) {
/*  .before-after__container {
      max-width: 550px;
      width: 95%;
      margin: 0 auto;
      height: 561px;
      position: relative;
      overflow: hidden;
      background-color: #ff000000;
      margin-bottom: -61px;
  }
  .before-after__item p {
      margin-bottom: 0;
      text-align: center;
      margin-left: 45px;
      margin: 0 auto;
      transform: translateX(-28px);
      width: 87%;
      margin-top: 31px;
      left: 0px;
  }
  .slider-mask {
      width: 550px;
      height: 500px;
      overflow: hidden;
      margin: 0 auto;
      margin-left: calc(-52% + 213px) !important;
  }*/
  .slider-mask {
    width: 100%;
    height: 500px;
    overflow: hidden;
    margin: 0 auto;
    max-width: 500px;
  }
  .before-after__slider{
    display: none;
  }
  .before-after__slider--mobile{
    display: block !important;
  }
  .AB-slidebar {
      position: relative;
      width: 967px;
      height: 540px;
      right: 4px;
      overflow: hidden;
      left: calc(35% - 150px);
  }
}

/*break points for all mobile devices :( */
@media only screen and (max-width: 540px) {
  .AB-slidebar {
      position: relative;
      width: 967px;
      height: 540px;
      right: 4px;
      overflow: hidden;
      left: calc(50% - 150px);
  }
}
@media only screen and (max-width: 414px){
  .AB-slidebar {
      position: relative;
      width: 967px;
      height: 540px;
      right: 4px;
      overflow: hidden;
      left: calc(38% - 150px);
  }
}
@media only screen and (max-width: 411px){
  .AB-slidebar {
      position: relative;
      width: 967px;
      height: 540px;
      right: 4px;
      overflow: hidden;
      left: calc(39% - 150px);
  }
}
@media only screen and (max-width: 375px){
  .AB-slidebar {
      position: relative;
      width: 967px;
      height: 540px;
      right: 4px;
      overflow: hidden;
      left: calc(35% - 150px);
  }
}
@media only screen and (max-width: 360px){
  .AB-slidebar {
      position: relative;
      width: 967px;
      height: 540px;
      right: 4px;
      overflow: hidden;
      left: calc(34% - 150px);
  }
}
@media only screen and (max-width: 320px){
  .AB-slidebar {
      position: relative;
      width: 967px;
      height: 540px;
      right: 4px;
      overflow: hidden;
      left: calc(30% - 150px);
  }
}
@media only screen and (max-width: 280px) {
  .AB-slidebar {
      position: relative;
      width: 967px;
      height: 540px;
      right: 4px;
      overflow: hidden;
      left: calc(25% - 150px);
  }
}
